<li class="pc-item pc-caption">
	<label>Navigation</label>
</li>
<li class="pc-item">
	<a href="index.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">home</i></span><span class="pc-mtext">Dashboard</span></a>
</li>
<li class="pc-item pc-caption">
	<label>Elements</label>
	<span>UI Components</span>
</li>
<li class="pc-item">
	<a href="bc_typography.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">business_center</i></span><span class="pc-mtext">Typography</span></a>
</li>
<li class="pc-item">
	<a href="icon-feather.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">history_edu</i></span><span class="pc-mtext">Icons</span></a>
</li>
<li class="pc-item pc-caption">
	<label>table</label>
</li>
<li class="pc-item">
	<a href="tbl_bootstrap.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">table_rows</i></span><span class="pc-mtext">Bootstrap table</span></a>
</li>
<li class="pc-item pc-caption">
	<label>Chart & Maps</label>
	<span>Tones of readymade charts</span>
</li>
<li class="pc-item">
	<a href="chart-apex.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">bubble_chart</i></span><span class="pc-mtext">Chart</span></a>
</li>
<li class="pc-item">
	<a href="map-google.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">my_location</i></span><span class="pc-mtext">Maps</span></a>
</li>
<li class="pc-item pc-caption">
	<label>Pages</label>
	<span>Redymade Pages</span>
</li>
<li class="pc-item pc-hasmenu">
	<a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">https</i></span><span class="pc-mtext">Authentication</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
	<ul class="pc-submenu">
		<li class="pc-item"><a class="pc-link" href="auth-signup.html" target="_blank">Sign up</a></li>
		<li class="pc-item"><a class="pc-link" href="auth-signin.html" target="_blank">Sign in</a></li>
	</ul>
</li>
<li class="pc-item pc-caption">
	<label>Other</label>
	<span>Extra more things</span>
</li>
<li class="pc-item pc-hasmenu">
	<a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">list_alt</i></span><span class="pc-mtext">Menu levels</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
	<ul class="pc-submenu">
		<li class="pc-item"><a class="pc-link" href="#!">Menu Level 2.1</a></li>
		<li class="pc-item pc-hasmenu">
			<a href="#!" class="pc-link">Menu level 2.2<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
			<ul class="pc-submenu">
				<li class="pc-item"><a class="pc-link" href="#!">Menu level 3.1</a></li>
				<li class="pc-item"><a class="pc-link" href="#!">Menu level 3.2</a></li>
				<li class="pc-item pc-hasmenu">
					<a href="#!" class="pc-link">Menu level 3.3<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
					<ul class="pc-submenu">
						<li class="pc-item"><a class="pc-link" href="#!">Menu level 4.1</a></li>
						<li class="pc-item"><a class="pc-link" href="#!">Menu level 4.2</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="pc-item pc-hasmenu">
			<a href="#!" class="pc-link">Menu level 2.3<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
			<ul class="pc-submenu">
				<li class="pc-item"><a class="pc-link" href="#!">Menu level 3.1</a></li>
				<li class="pc-item"><a class="pc-link" href="#!">Menu level 3.2</a></li>
				<li class="pc-item pc-hasmenu">
					<a href="#!" class="pc-link">Menu level 3.3<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
					<ul class="pc-submenu">
						<li class="pc-item"><a class="pc-link" href="#!">Menu level 4.1</a></li>
						<li class="pc-item"><a class="pc-link" href="#!">Menu level 4.2</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</li>
<li class="pc-item"><a href="sample-page.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">storefront</i></span><span class="pc-mtext">Sample page</span></a></li>
